<div class="cards">
  <% @user.images.where(image_saved: true).each_with_index do |image, i| %>
    <div id="carouselExampleIndicators<%= i %>" class="carousel slide" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators<%= i %>" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators<%= i %>" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      <div class="card">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <% unless image.before_photo.key == nil %>
            <%= link_to (cl_image_tag (image.before_photo.key), width: 500, height: 200, crop: :fill, gravity: "auto", class: "card-img-top"), image_path(image) %>
            <% else %>
            <%= link_to (cl_image_tag ("prvluvb2arm6lhic2on9"), width: 500, height: 200, crop: :fill, gravity: "auto", class: "card-img-top"), image_path(image) %>
            <% end %>
          </div>
          <div class="carousel-item">
            <% unless image.after_photo.key == nil %>
            <%= link_to (cl_image_tag (image.after_photo.key), width: 500, height: 200, crop: :fill, gravity: "auto", class: "card-img-top"), image_path(image)%>
            <% else %>
            <%= link_to (cl_image_tag ("prvluvb2arm6lhic2on9"), width: 500, height: 200, crop: :fill, gravity: "auto", class: "card-img-top"), image_path(image) %>
            <% end %>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators<%= i %>" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators<%= i %>" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  <% end %>
</div>
