
<div class="container mt-5">
  <h2> <%= @user.username.capitalize %> profile</h2>
  <div class="user-details">
    <div class="d-flex flex-row">
      <div class="profile-photo m-5">
        <%= image_tag "", class: "fa-solid fa-user", id: "navbarDropdown" %>
      </div>

      <div class="d-flex flex-column">
        <div class="username py-3">
          <%= @user.username.capitalize %>
        </div>

        <div class="user-city">
          📍 <%= @user.city.capitalize %>
        </div>
      </div>
    </div>
  </div>

  <h2><%= @user.username.capitalize %> streets</h2>
  <div class="user-images">
    <div class="cards d-flex">
      <%= render "image" %>
    </div>
  </div>
</div>
