<div class="container margin-top-large">
  <h2 class="bold-text"> <%= @user.username.capitalize %>'s profile</h2>
  <div class="user-details">
    <div class="d-flex flex-row">
      <div class="profile-photo m-5">
        <% unless @user.profile_photo.key == nil %>
        <%= cl_image_tag @user.profile_photo.key, style:"width:150px; height: 150px; border-radius:100%" %>
        <% else %>
         <%= image_tag "User-avatar.jpg",style:"width:150px; height: 150px" %>
        <%end %>
        <div class="edit-button">
          <% if policy(@user).edit_profile_photo? %>
            <%= link_to "", edit_profile_photo_image_user_path(current_user), class: "fas fa-user-edit fa-lg" %>
          <% end %>
        </div>
      </div>
      <div class="d-flex flex-column">
        <div class="username py-4">
          <%= @user.username.capitalize %>
        </div>

        <div class="user-city mb-5">
          <i class="fa-solid fa-location-dot"></i> <%= @user.city.capitalize %>
        </div>

        <h6>
          <%= pluralize(@user.comments.size, "Comment") %> |
          <%= pluralize(@user.images.where(image_saved: true).size, "Image") %>
        </h6>
      </div>
    </div>
  </div>

  <h2 class="text-center"><%= @user.username.capitalize %>'s Streets</h2>
  <div class="user-images">
    <div class="cards d-flex">
      <%= render "image" %>
    </div>
  </div>
</div>
