<%= simple_form_for image do |f| %>
  <%= f.input :address, label: false,
      input_html: {data: {address_autocomplete_target: "addressHiddenInput"}, class: "d-none"} %>
  <div data-address-autocomplete-target="imagesContainer"></div>
  <%= f.input :options, :label => "Select your design options",
              as: :check_boxes,
              input_html: { class: "tag-selector" },
              item_wrapper_class: 'tag-item',
              collection: Image::OPTIONS, include_hidden: false %>
              <div class="col-12 d-flex justify-content-center">
  <%= f.input :custom_option, placeholder: 'Enter a custom option', label: false, input_html: { class: "form-control options-search" } %>
              </div>
  <% if user_signed_in? %>
    <%= f.button :submit, 'Be inspired', class: "btn-primary text-white" %>
  <% else %>
    <p>Create an account or login to generate an image</p>
    <%= link_to "Signup", new_user_registration_path, class: "btn btn-light mx-2"%>
    <%= link_to "Login", new_user_session_path, class: "btn btn-light mx-2"%>
  <% end %>
<% end %>
