<% content_for :meta_title, "#{@image.user.username.capitalize}'s Reimagined Street" %>
<% content_for :meta_description, "Reimagined #{@image.address}" %>
<% content_for :meta_image, cl_image_path(@image.after_photo.key) %>

<div class="container-fluid image-fluid-container px-5 my-5">

  <div class="row m-2">

    <div class="col-12 col-lg-8 mt-3">
      <%= render "imageslider" %>
      <div class="row mt-2">
        <div class="col-12">
          <%= render "map", all_markers: @all_markers, image_marker: @image_marker %>
        </div>
      </div>

  </div>

  <div class="col-12 col-lg-4 mt-3">

    <div class="col-12">
      <div class="card side-card-color">
        <div class="card-body">
          <h5 class="card-title user-details"><strong><%= link_to @image.user.username.capitalize, user_path(@image.user.id) %></strong></h5>
          <div class="delete-button">
            <% if policy(@image).destroy? %>
              <%= button_to "", @image,
              method: :delete, class: "btn btn-outline-danger fa-solid fa-trash ",
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            <% end %>
          </div>
          <p class="card-text"><i class="fa-solid fa-location-dot"></i> <%= @image.user.city.capitalize %></p>
          <h5 class="card-title"><strong>Options</strong></h5>
          <% @image.options.each do |option| %>
            <p class="img-tag-options mt-2"><%= option.capitalize %></p>
          <% end %>
          <% if !@image.custom_option.blank? %>
            <p class="img-tag-options mt-2"><%= @image.custom_option %></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-12 mt-3">
      <div class="card shadow-0 side-card-color">
        <div class="card-body p-4">
          <h5 class="card-title"><strong>Comments</strong></h5>
          <div class="form-outline mb-4">
            <%= render partial: 'comments/form' %>
          </div>
          <% if @image.comments.blank? %>
            <p class="text-center">Be the first to leave a comment!</p>
          <% else %>
            <%= render partial: "comment", locals: { comment: @image.comments } %>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>
