<div class="container mb-5">
  <h1 class="text-center">images#show</h1>
  <div class="card">
    <div class="image w-50 m-3 rounded">
     <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      <div class="card">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <% unless @image.before_photo.key == nil %>
            <%= cl_image_tag @image.before_photo.key,width: 400, height: 650, crop: :fill, gravity: "auto", class: "card-img-top" %>
            <% else %>
            <%= cl_image_tag "prvluvb2arm6lhic2on9",width: 400, height: 650, crop: :fill, gravity: "auto", class: "card-img-top" %>
            <% end %>
          </div>
          <div class="carousel-item">
            <% unless @image.after_photo.key == nil %>
            <%= cl_image_tag @image.after_photo.key,width: 400, height: 650, crop: :fill, gravity: "auto", class: "card-img-top" %>
            <% else %>
            <%= cl_image_tag "prvluvb2arm6lhic2on9",width: 400, height: 650, crop: :fill, gravity: "auto", class: "card-img-top" %>
            <% end %>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    </div>
    <div class="card-product">
      <div class="user-details m-3 rounded">
      <p> <strong><%= link_to @image.user.username.capitalize, user_path(@image.user.id) %></strong> </p>
      <p>📍 <%= @image.user.city %></p>
      </div>
      <div class=" container-fluid py-2">
        <div class="d-flex flex-column flex-nowrap overflow-auto comments-container">
          <% @image.comments.each do |comment| %>
            <div class="card card-block mx-2" style="overflow-y: auto;
              min-height: 150px;
              min-width: 620px;
              max-width: 620px;
              margin: 10px">
              <div class="card-body">
                <h5 class="card-title"><%= comment.user.username.capitalize %></h5>
                <p class="card-text"><%= comment.text %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="map m-3 rounded">
      <h2></h2>
      <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@image.address}&size=1000x800&zoom=15&key=#{Rails.application.credentials.google_api_key}&markers=size:small%7Ccolor:red%7Clabel:C%7C", width: 700, height: 250 %>
      </div>
    </div>
  </div>
</div>
